body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.Sidebar {
  padding-top: 5px;
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
}
.Recent-Scanning {
  margin: 15px;
  height: 90%;
  width: 30%;
}
.IAM {
  height: 85%;
  width: 70%;
}

.IAM_Info {
  margin: 15px;
  height: 70%;
}

.IAM_Change {
  padding-top: 30px;
  margin: 15px;
  height: 30%;
}
